.landing-page {
  text-align: center;
  padding: 1rem;
  font-family: "Press Start 2P", monospace;
  /* background: repeating-linear-gradient(
    0deg,
    #c2d46d,
    #c2d46d 2px,
    #b0c35f 2px,
    #b0c35f 4px
  ); */
  color: rgb(255, 255, 255);
}

.image-container {
  /* background-color: #c2d46d; */
  /* display: inline-block; */
  padding: 1rem;
  border-radius: 10px;
}

.landing-image {
  /* max-width: 300px; */
  /* display: block; */
}

.enter-button {
  font-family: "Press Start 2P", monospace;
  font-size: 2rem;
  padding: 0.5rem;
  width: 350px;
  /* background: #dd2f2f; */
  background: linear-gradient(
    to bottom,
    #dd2f2f,
    #b01010
  ); /* Red to darker red */
  color: #ffffff;
  border-radius: 75px;
  cursor: pointer;
  /* transition: background 0.3s ease; */
  margin-top: 20px;
  border: 12.5px double #000;
  box-shadow: 0 5px #000, /* bottom shadow for height */ inset 0 -4px #900;
}

.enter-button:hover {
  transition: 0.1s;
  background-image: repeating-linear-gradient(
    0deg,
    #95a968,
    #a6b87a 2px,
    #90a262 2px,
    #a0b073 4px
  );
  color: #000000;
  font-weight: bold;
  box-shadow: 0 0px #000, /* bottom shadow for height */ inset 0 0px #900;
  border: 12.5px double #000;
}

.pikachu-wrapper {
  position: relative;
  width: 500px;
  margin: 20px auto 2rem;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: none;
}

.pikachu {
  top: 0;
  left: 0;
  width: 100%; /* Scale to wrapper */
  height: 100%; /* Keep consistent height */
  object-fit: contain;
  transition: opacity 0.75s ease;
}

.pikachu.retro {
  image-rendering: pixelated;
  opacity: 0;
  width: 100;
  background-image: repeating-linear-gradient(
    0deg,
    #95a968,
    #a6b87a 2px,
    #90a262 2px,
    #a0b073 4px
  );
  z-index: 1;
  border-radius: 50px;

}

.pikachu.modern {
  position: absolute;
  z-index: 2;
}

/* 🔁 Swap on hover over the button */
.enter-button:hover ~ .pikachu-wrapper .modern {
  opacity: 0;
}

.enter-button:hover ~ .pikachu-wrapper .retro {
  opacity: 1;
}

